# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/2b0c8206-04f5-45ac-9498-7d77d1a09090.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/2b0c8206-04f5-45ac-9498-7d77d1a09090.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/268fb90d-e209-41b0-a73d-f88853ac7e3f.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/2b0c8206-04f5-45ac-9498-7d77d1a09090.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/2ed3f769-4c2f-43d1-b3fe-be1c5a2cc218.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/42c5b821-0ab6-426c-9da3-fd7f76fdc095.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/4a3832bf-e5f4-44b4-8302-61210b8862f8.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/6337468c-701c-420c-9c25-ada56aef8071.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/7643b83b-4d4d-435c-b5d3-3e2a5296bd3d.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/87a707de-85db-4ea8-b32b-8ee619f1399c.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/cf9e6922-97a0-4441-b1f7-6410bc3495ff.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/e46a5bf1-0cf9-41ed-8ed7-e58dbc253cb2.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/88f8f59d-0620-449e-886e-4b0a7e51eeef.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/8b20077a-459e-4987-b4aa-18ab60d68dd7.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/a7e2a519-839b-4c79-9bf6-8e4613a41955.vsidx
NutriFlowAPI/.vs/NutriFlowAPI/FileContentIndex/fdff57d9-5181-4925-96e7-433d5338f290.vsidx
